{% extends 'modelo.html' %}

{% block title %} Inicial {% endblock %}

{% block conteudo %}

<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Livros para se utilizar na redação do enem</h1>
            <h2 class="masthead-subheading mb-0">Nessa página, iremos recomendar livros que lhe auxiliaram na valorização de seu texto utilizando trechos dos livros abordado a seguir.</h2>
            
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

 <!-- Content section 1-->
 <section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download.jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">1 - Capitães da Areia - Jorge Amado</h2>
                    <p>"Capitães da Areia" é um romance de Jorge Amado que retrata a vida de um grupo de crianças e adolescentes abandonados em Salvador, na Bahia, que se organizam em uma espécie de comunidade na praia. O livro aborda temas como pobreza, marginalização, amizade e a luta pela sobrevivência. A obra também critica a sociedade da época, expondo a hipocrisia e a injustiça social, enquanto explora a inocência e a força dos jovens em busca de um futuro melhor. É um relato poderoso e comovente que reflete a sensibilidade de Amado em abordar questões sociais.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (1).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">2 - Jogos Vorazes - Suzanne Collins</h2>
                    <p>"Jogos Vorazes" é o primeiro livro de uma trilogia escrita por Suzanne Collins. A história se passa em um futuro distópico, na nação de Panem, que é dividida em doze distritos controlados pelo opressivo Capitólio. Todo ano, o Capitólio realiza os Jogos Vorazes, um evento brutal onde um menino e uma menina de cada distrito são escolhidos para lutar até a morte em uma arena, como uma forma de controle e entretenimento. A protagonista, Katniss Everdeen, se oferece para ocupar o lugar de sua irmã mais nova nos Jogos. Ao longo da competição, ela se destaca não apenas por suas habilidades de sobrevivência, mas também por sua coragem e determinação. A trama aborda temas como opressão, resistência, sacrifício e a luta pela liberdade.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (2).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">3 - Por Lugares Incríveis - Jennifer Niven</h2>
                    <p>"Por Lugares Incríveis", de Jennifer Niven, é uma história emocional que segue a relação entre Finch e Violet, dois adolescentes que lidam com suas próprias batalhas internas. Finch é um garoto enigmático e introspectivo, enquanto Violet enfrenta o luto pela perda de sua irmã e as dificuldades de se adaptar após essa tragédia. O livro aborda temas como saúde mental, amizade, amor e a busca por significado em momentos difíceis. A jornada de Finch e Violet é intensa e cheia de nuances, oferecendo uma reflexão sobre a vida, a perda e a importância de viver plenamente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 4-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (3).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">4 - Fahrenheit 451 - Ray Bradbury</h2>
                    <p>"Fahrenheit 451", de Ray Bradbury, é um clássico da literatura distópica que se passa em um futuro onde os livros são proibidos e os "bombeiros" têm a missão de queimá-los. O protagonista, Guy Montag, é um desses bombeiros, mas sua vida muda ao conhecer Clarisse, uma jovem que o faz questionar sua existência e o mundo ao seu redor. A narrativa é intensa e poética, abordando as consequências de uma sociedade que prioriza a conformidade e a ignorância em detrimento da reflexão e da criatividade. "Fahrenheit 451" é uma obra atemporal que continua a ressoar, alertando sobre os perigos da censura e da falta de diálogo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 5-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (4).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">5 - As Vantagens de Ser Invisível - Stephen Chbosky</h2>
                    <p>"As Vantagens de Ser Invisível", de Stephen Chbosky, é um romance epistolar que acompanha Charlie, um adolescente introvertido e sensível, enquanto ele navega pelos desafios da vida escolar e as complexidades da amizade, amor e saúde mental. A história se passa nos anos 1990 e é contada através de cartas que Charlie escreve a um amigo anônimo. O livro aborda temas como aceitação, identidade e a importância da vulnerabilidade. A jornada de Charlie é repleta de descobertas e crescimento, refletindo as dificuldades e as alegrias da adolescência.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 6-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (5).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">6 - Torto Arado - Itamar Vieira Junior</h2>
                    <p>"Torto Arado", de Itamar Vieira Junior, é um romance que narra a vida de duas irmãs, Belonísia e Diamantina, em uma fazenda no interior da Bahia. A obra aborda temas como racismo, desigualdade social e a luta pela terra, através de uma perspectiva que valoriza a cultura e as tradições afro-brasileiras. Com uma prosa poética e rica em detalhes, Itamar Vieira Junior captura a essência do sertão baiano, suas lutas e sua beleza. "Torto Arado" é uma obra poderosa que reflete sobre a identidade, a resistência e a busca por justiça em um contexto marcado por opressões históricas. É um livro que provoca reflexões profundas sobre a relação entre pessoas e a terra que habitam.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 7-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static\img\download (6).jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">7 - Quarto de Despejo - Carolina Maria de Jesus</h2>
                    <p>"Quarto de Despejo" é um diário escrito por Carolina Maria de Jesus, que retrata sua vida como uma mulher negra e pobre que viveu em uma favela de São Paulo, nos anos 1950. O livro é um testemunho poderoso sobre a realidade da miséria, da fome e das lutas diárias enfrentadas por ela e seus filhos. "Quarto de Despejo" é um relato impactante e comovente, que expõe as dificuldades de vida em uma sociedade marcada pela injustiça, ao mesmo tempo que celebra a força e a resiliência de uma mulher que se recusa a ser silenciada. A obra se tornou um marco na literatura brasileira, contribuindo para a visibilidade das vozes marginalizadas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Recomendação-->
<section>
    <div class="container px-5">
        <form method="POST" class="formLogin" method="post" action="{{url_for('recomend')}}">
            <div class="row gx-5 align-items-center">
                <h4>Recomende um outro livro:</h4> 
                <div class="col-lg-6 order-lg-2">
                    <label for="titulo">Titulo do livro: </label>
                    <input type="text" name="titulo" placeholder="Digite o titulo do livro" autofocus="true" />
                    <button class="button-enviar">Enviar</button>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <label for="titulo">Autor do livro: </label>
                        <input type="text" name="autor" placeholder="Digite o nome do autor(a)" autofocus="true" />
                        
                    </div>
                </div>
            </div>
        </form>
        <form action="{{url_for('favoritos')}}" method="GET" class="form-favoritos">
            <button class="button-favoritos">Meus livros favoritos</button>
        </form>
    </div>
</section>
   
{% endblock %}
